<h1>Created Events</h1>

<h3>
  You have created <%= @events.count %> <%= ' Event'.pluralize(@events.count) %>
  <%= link_to 'Create new event', new_event_path %>
</h3>

<ul>
<% @events.each do |event| %>
  <li>
    <%= link_to event.name, event %>
  </li>
<% end %>
</ul>

