<h1>All Events</h1>

<h2>Previuos events</h2>
<ul>
  <% @previous_events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h2>Upcoming events</h2>
<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>


<%= link_to 'Create new events', new_event_path %>