/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require reset
 *= require fonts
 *= require_tree .
 *= require_self
 */

@mixin alert {
  text-align: center;
  position: absolute;
  width: 30em;
  top: 1%;
  left: calc(50% - 15em);
  padding: 1em;
  line-height: 1.5em;
  -webkit-animation: cssAnimation 5s forwards; 
  animation: cssAnimation 5s forwards;
  border-radius: 0.5em;
}

html {
  position: relative;
  height: 100%;
}


body {
  /* .75 footer height to make it fixed */
  margin-bottom: 3em;
  font-family: 'Raleway', sans-serif;

  .alert-success {
    @include alert;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  
    @keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
    }

    @-webkit-keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
    }

    p {
      font-size: 1.2em;
      display: inline;
      padding: 1em;
    }
  }

  .alert-error {
    @include alert;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  
    @keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
    }

    @-webkit-keyframes cssAnimation {
      0%   {opacity: 1;}
      90%  {opacity: 1;}
      100% {opacity: 0;}
    }

    p {
      font-size: 1.2em;
      display: inline;
      padding: 1em;
    }
  }

  header {
    display: flex;
    height: 3em;
    flex-direction: row;
    justify-content: space-around;
    background-color: #442d4e;

    .left,
    .right {
      align-self: center;

      a {
        margin-right: 0.5em;
        color: antiquewhite;
        text-decoration: none;
        padding: 0.5em 1em;
        border: 1px solid antiquewhite;
      }

      a:hover {
        color: #1e453e;
        background-color: antiquewhite;
      }
    }
  }

  footer {
    background-color: black;
    text-align: center;
    position: fixed;
    color: white;
    line-height: 4em;
    height: 4em;
    bottom: 0;
    width: 100%;
  }
}