/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require reset
 *= require_tree .
 *= require_self
 */

header {
  display: flex;
  height: 3em;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1e453e;

  .left,
  .right {
    align-self: center;

    a {
      margin-right: 0.5em;
      color: antiquewhite;
      text-decoration: none;
      padding: 0.5em 1em;
      border: 1px solid antiquewhite;
    }

    a:hover {
      color: #1e453e;
      background-color: antiquewhite;
    }
  }
}

footer {
  background-color: black;
  text-align: center;
  color: white;
  line-height: 10vh;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}