// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.users {
  background-image:
    linear-gradient(to right top,
       #292246, 
       #442d4e, 
       #5c3a56, 
       #72495d, 
       #855965);
  
       .head {
        padding: 1.5em 3em;
        display: flex;
        justify-content: space-between;
        color: white;
  
        .logo {
          font-size: 2.8rem;
          font-weight: 300;
        }
  
        span {
          font-weight: bold;
          font-size: 2.5rem;
          //color: #a74953;
        }
  
        .sign-up-btn {
          padding: .7em 0;
  
          a {
            text-decoration: underline;
            font-size: 1.3rem;
            color: #fff;
  
            &:hover {
              color: #a74953;
            }
          }
        }
      }

  .signup-form {
    margin: 0 auto;
    text-align: center;
    height: calc(100vh - 10em);


    .sign-up {
      font-size: 2em;
      padding-bottom: .4em;
    }

    .field {
      width: 60%;
      padding: 12px 20px;
      margin: 8px 0;
      display: inline-block;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
    }

    .submit {
      width: 60%;
      background-color: rgb(190, 124, 0);
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;

      &:hover {
        background-color: rgb(214, 139, 0);
      }
    }
  }


  .show-users {
    font-family: 'Work Sans', sans-serif;
    width: 70%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;



    .enrolled-upcoming-events {
      width: 50%;

      h2 {
        padding: 1em 0;
        text-align: center;
        margin: 0 auto;
        font-size: 2.5vw;
      }

      .event-box {
        margin: .5em 1em;

        .event-name {

          border-top: .3em solid orange;
          background-color: #eee;
          font-size: 2em;
          padding: .3em 0.3em;

          a {
            text-decoration: underline;
            color: inherit;
          }

          a:hover {
            color: #1e453e;
          }
        }

        .event-info {
          background-color: rgba(255, 165, 0, 0.5);
          padding: .8em .3em;
          margin-bottom: 1em;
        }
      }
    }

    .events-details {
      width: 50%;

      .event-header h2 {
        padding: 1em 0;
        text-align: center;
        margin: 0 auto;
        font-size: 2.5vw;
      }

      .event-box {
        margin: 0 auto;
        margin: .5em;


        .event-name {
          border-top: .3em solid orange;
          background-color: #eee;
          font-size: 2em;
          padding: .3em 0.3em;

          a {
            text-decoration: underline;
            color: inherit;
          }

          a:hover {
            color: #1e453e;
          }
        }
      }

    }
  }
}